<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>announcement</servlet-name>
    <servlet-class>com.octest.servlets.announcement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>announcement</servlet-name>
    <url-pattern>/vintud/create/announcement</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>announcements</servlet-name>
    <servlet-class>com.octest.servlets.announcements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>announcements</servlet-name>
    <url-pattern>/vintud/announcements</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>com.octest.servlets.signIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
    <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>